:root {
  --pageX: 0;
  --pageY: 0;
  --height: 400px;
}
::-webkit-scrollbar {
   width: 7px;
}
::-webkit-scrollbar-track {
   background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
   background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:hover {
   background: rgba(255,255,255,0.5);
}


html {
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
  /* background: linear-gradient(to bottom right,#EB974E, #D91E18 , #96281B , #EF4836 , #C0392B, #F2784B ,#D64541); */
  /* background: linear-gradient(to bottom right,#34495E, #5C97BF, #22313F , #2C3E50 , #336E7B , #34495E); */
  background: radial-gradient(circle, #99CED4 10%,#9AD4E2   ,#76CAD4 , #8ABCD7);
  box-sizing: border-box;
  background-size:cover;
  min-height:100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
}

.london-clock  {
  grid-row: 2/3;
  background-color: black;
  z-index: 10;
  width: 30rem;
  height: 30rem;
}
.tokyo-clock  {
  grid-row: 2/3;
}
.sydney-clock  {
  grid-row: 2/3;
}
.hl {
  background-color: rgba(0,0,0,0.5)
}

.city {
  position: absolute;
  bottom: 35px;
  left: 31%;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
  font-size: 30px;
  font-weight: 600;
  color: rgba(255,255,255,0.9);
  z-index: auto;
}

.city .InputCity {
  bottom: 15px;
}

.World-names {
  max-width: 200px;
  width: 200px;
  height: 60px;
  top:70%;
  line-height: 20px;
  overflow-x: auto;
  position: absolute;
  left: 10%;
}
.World-city {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.World-countrey {
  font-size:25px;
  font-weight: 600;
  padding-left: 4px;
  text-transform: capitalize;
}

.World-clock {
    grid-column: 4 /-1;
    grid-row: 2/3;
}

select {
  bottom: 7px;
  right: 22%;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-size: 30px;
  text-shadow: 1px 1px rgba(255,255,255,0.4);
  background: rgba(255, 255, 255, 0.0);
  border: none;
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-family:'helvetica neue';
  text-align: center;
}
option {
  bottom: 7px;
  right: 22%;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-size: 30px;
  background-color: black;
  border: none;
  color: black;
  text-align: center;
}
span {
  font-size: 30px;
  font-weight: 600;
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px rgba(255,255,255,0.0);
}
input {
  position: sticky;
  left: -27px;
  background: rgba(255, 255, 255, 0.0);
  text-transform: capitalize;
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px rgba(255,255,255,0.1);
  height: 25px;
  width: 150px;
  font-size: 1em;
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
  font-family:'helvetica neue';
}
.input-value {
  position: absolute;
  text-transform: capitalize;

}
.input {
  /* font-size: 50px;
  font-weight: 400; */
}
.results-list {
  display:grid;
}
.icons {
  display: inline;
  position: relative;
  right: 30%;
}
.icon-AllWorld {
  position: relative;
  bottom: 25px;
}
.clock {
  width: 25rem;
  height: 25rem;
  border:5px solid rgba(255,255,255,0.9);
  border-radius:50%;
  margin:auto;
  position: relative;
  padding:2rem;
  background: rgba(0,0,0,0.4);
  box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #EFEFEF,
  inset 0 0 10px black,
  0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
  position:relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}
.hour-hand {
  width:50%;
  height:8px;
  background:rgba(0,0,0,0.8);
  position: absolute;
  top:50%;
  left: 10%;
  transform-origin: 80%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius:50%;
  box-shadow:
  inset 0 0 0 1px rgba(255,255,255,0.5),
  0 0 1px rgba(255,255,255,0.2);
  z-index: 7;
}
.min-hand {
  width:50%;
  height:5px;
  background:rgba(0,0,0,0.8);
  position: absolute;
  top:50%;
  left: 10%;
  transform-origin: 80%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius:50%;
  box-shadow:
  inset 0 0 0 1px rgba(255,255,255,0.5),
  0 0 1px rgba(255,255,255,0.2);
  z-index: 8;
}
.second-hand {
  width:50%;
  height:3px;
  background:rgba(255,0,0,0.8);
  position: absolute;
  top:50%;
  left: 10%;
  transform-origin: 80%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius:80%;
  box-shadow:
  0 0 0 1px rgba(255,255,255,0.1),
  inset 0 0 0 1px rgba(255,255,255,0.1),
  0 0 1px rgba(255,255,255,0.1);
  z-index: 9;
}
.dot-center {
  width:10px;
  height:10px;
  background:black;
  position: relative;
  top:calc(50% - 3px);
  left:calc(50% - 5px);
  border-radius:50%;
  z-index:10;
  box-shadow:
  0 0 0 1px rgba(255,255,255,0.2),
  inset 0 0 0 1px rgba(255,255,255,0.2),
  0 0 1px rgba(255,255,255,0.2);
}
.hours {
  width:7%;
  height:8px;
  background:black;
  position: absolute;
  transform: rotate(90deg);
  background:rgba(0,0,0,0.8);
  border-radius:50%;
  box-shadow:
  0 0 0 1px rgba(255,255,255,0.2),
  inset 0 0 0 1px rgba(255,255,255,0.2),
  0 0 1px rgba(255,255,255,0.2);
}
.hour3 {
  transform: rotate(0deg);
  top:50%;
  left:96%;
}
.hour6 {
  padding: 0px;
  margin: 0px;
  transform: rotate(90deg);
  top:100%;
  left:46%;
}
.hour9 {
  transform: rotate(0deg);
  top:50%;
  left:-3%;
}
.hour12 {
  padding: 0px;
  margin: 0px;
  transform: rotate(90deg);
  top:0%;
  left:46%;
}
.temp-london {
  position: relative;
  top: 50px;
}
.temp-tokyo {
  position: relative;
  top: 50px;
}
.temp-sydney {
  position: relative;
  top: 50px;
}
.temp-info {
  position: relative;
  left: 5%;
}
.tempAllWorld {
  position: relative;
  top: 30px;
  font-size: 20px;
  font-weight: 600;
}


.selectedSelect option {
  max-width: 100px;
}
.selectedSelect {
  max-width: 200px;
  position: relative;
  margin-left: -5%;
}

@media only screen and (max-width: 1000px) {

  .body-container {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 100px;
  }

  .london-clock  {
    grid-row: 1/2;
  }
  .tokyo-clock  {
    grid-row: 2/3;
  }
  .sydney-clock  {
    grid-row: 3/4;
  }

}
